[run]
omit =
    # omit anything in a tests directory anywhere
    **/tests/*
    **/migrations/*
    # omit everything in .venv/
    .venv/*
    # omit this single file
    manage.py
    _project_/settings_local.py
    lib/codegen/codegen_templates
