# python utils
Pillow
requests
pycurl>=7.43.0
beautifulsoup4
cucco==2.2.1
openpyxl==2.5.1
boto3==1.5.20
google_cloud==0.32.0
ddtrace==0.10.0
datadog==0.17.0
geocoder==1.34.0

Django==1.11.9

# django utils
django_widget_tweaks==1.4.1
django-bootstrap-form==3.3
django-registration==2.4.1
django-sql-explorer==1.1.1
dj_database_url==0.4.2
django-storages==1.6.5
django-waffle==0.12.0
django-extra-views==0.9.0
django-auth-ldap==1.2.16
django-health-check==3.4.3

# HISTORY
django-reversion==2.0.12
django-simple-history==1.9.0

# API
djangorestframework==3.7.7
djangorestframework-gis==0.11.2
djangorestframework-filters==0.10.2
django-filter==1.1.0
django-crispy-forms==1.7.0
markdown==2.6.11
coreapi==2.3.3
openapi_codec==1.3.2
drf_openapi==1.3.0

# db
redis==2.10.6
psycopg2==2.7.3
django-redis==4.8.0

# celery
celery==4.1.0
django_celery_results==1.0.1

# sentry
raven

# prod
uwsgi

# dev
django_debug_toolbar==1.9.1
django_extensions==1.9.9
werkzeug

# tests
prospector
pylint
factory_boy
freezegun
pdbpp
pytest
pytest-cov
pytest-django
pytest-selenium
pytest-base-url
pytest-benchmark
pytest-capturelog>=0.7
