# python utils
Pillow
requests
beautifulsoup4

Django==1.11.5

# django utils
django_widget_tweaks==1.4.1
django-bootstrap-form==3.3
django-registration==2.2
django-reversion==2.0.10
django-simple-history==1.9.0

# rest
djangorestframework==3.6.4
django-filter==1.0.4
markdown==2.6.9

# db
redis==2.10.6
psycopg2==2.7.3
django-redis==4.8.0

# celery
celery==4.1.0
django_celery_results==1.0.1

# sentry
raven

# prod
uwsgi

# dev
django_debug_toolbar==1.8
django_extensions==1.9.1
werkzeug

# tests
prospector
factory_boy
pytest
pytest-cov
pytest-django
pytest-selenium
pytest-base-url
