# PRODUCTION (required for work) #
# please use >= or == for goods!

django>=1.6.5
mezzanine>=3.1.8

# DEVELOPMENT/TESTING (required for development/testing) #
# This comment uses as delimiter for install production requirements

django-debug-toolbar>=1.2.1
