{% load static raven %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <!-- Loading Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="{% static "favicon.ico" %}">

    {% block css %}
        <link rel="stylesheet" href="{% static "main.css" %}">
        {% block extra_css %}{% endblock %}
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/vendor/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/vendor/respond.min.js"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include "include/header.html" %}

    <div class="container" style="min-height: calc(100% - 220px);">
        {% block content %}
            <h1>Hello, world!</h1>
        {% endblock %}
    </div>
    <!-- /.container -->

    {% include "include/footer.html" %}

    {% block js %}
        <script src="https://cdn.ravenjs.com/3.18.1/raven.min.js" crossorigin="anonymous"></script>
        <script>Raven.config('{% sentry_public_dsn %}').install()</script>
        <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/vendor/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/vendor/video.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.min.js"></script>
        <script src="{% static "main.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endblock %}

    {% include "include/metrics.html" %}

    {% block extra_body %}{% endblock %}
</body>
