{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}Доступ закрыт{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'index' %}">Начало</a></div>{% endblock %}

{% block content %}
    {% blocktrans %}
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Доступ закрыт!</h1>
            <p>
                Извини, но у тебя нет доступа к этому сервису.
                Пожалуйста, обратись к системному администратору.
            </p>
        </div>
    {% endblocktrans %}
{% endblock %}
