<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% compress css %}
    <link rel="stylesheet" href="{% static "flat-ui/bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "flat-ui/css/flat-ui.css" %}">
    <link rel="stylesheet" href="{% static "animations/animations.css" %}">
    <link rel="stylesheet" href="{% static "fixes.css" %}">
{#    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">#}
{#    {% if LANGUAGE_BIDI %}#}
{#    <link rel="stylesheet" href="{% static "css/rtl.css" %}">#}
{#    {% endif %}#}
{#    {% ifinstalled cartridge.shop %}#}
{#    <link rel="stylesheet" href="{% static "css/cartridge.css" %}">#}
{#    {% if LANGUAGE_BIDI %}#}
{#    <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">#}
{#    {% endif %}#}
{#    {% endifinstalled %}#}
{% block extra_css %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">KVKT<span style="opacity: 0.2;">.IMKN.URFU.RU</span></a>{% endif %}
{#    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}#}
{#    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}#}
</div>
<div class="navbar-collapse collapse">
    {% search_form "all" %}
    {% page_menu "pages/menus/dropdown.html" %}
</div>
</div>
</div>

<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}
</div>

{#<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">#}
<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>
{#</div>#}

</div>
</div>

<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-8 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1 middle">
    <h1>{% block title %}{% endblock %}</h1>
    {% block main %}{% endblock %}
</div>

<div class="col-xs-6 col-sm-offset-3 col-sm-4 col-sm-offset-0 col-md-3 col-lg-3 right">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
    </div>
</div>

</div>
</div>

<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}

<div class="row">
<p class="site-info text-center">
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</div>
</footer>

{% compress js %}
<script src="{% static "flat-ui/js/jquery-2.0.3.min.js" %}"></script>
<script src="{% static "flat-ui/js/bootstrap.min.js" %}"></script>
{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
{#<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>#}
<script src="{% static "modernizr/modernizr.custom.js" %}"></script>
<script src="{% static "animations/page-transitions.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

{% include "includes/footer_scripts.html" %}

</body>
</html>
