# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: quay.io/pik-software/base:v1.6

      - image: mdillon/postgis:9.6
        environment:
          POSTGRES_DB: repo
          POSTGRES_USER: root

      - image: redis:3.2

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            python3 -m venv .venv
            . .venv/bin/activate
            pip install --upgrade setuptools
            pip install --exists-action w -r requirements.txt

      - run:
          name: run tests
          command: |
            echo -e "SECRET_KEY = 'not so sectret!'\n" > ./_project_/settings_local.py
            . .venv/bin/activate
            sleep 1
            python manage.py migrate
            python manage.py collectstatic
            python manage.py check
            pytest --doctest-modules --selenium --durations=0 -vvvs
            prospector --profile-path . --profile .prospector.yaml .

      - deploy:
          name: deploy master
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              echo 'staging.pik-software.ru ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBOY5bwhxoqupBaChSCncDXgY+EPJC5DbZzfBJyrGh9etF+L8+4TJJUtzyCHUj0HcOUY186WHa3alIsAf5/KWbW0=' >> ~/.ssh/known_hosts
              ./.circleci/deploy-to-dokku.sh ${CIRCLE_PROJECT_REPONAME} ${CIRCLE_BRANCH}
            fi
