/*========================================
        MEZZANINE GENERAL STYLES
==========================================*/

body {
    min-width: 450px;
}

.tree {
    padding: 5px 0;
}

.tree ul a {
    padding: 7px 15px;
}

.tree > .nav .nav > li {
    padding-left: 15px;
}

.tree .active > a {
    /*background-color: #EEEEEE;*/
}

.tree .active-branch > a {
    font-weight: bold;
}

.navlist-menu-level-0 {
    margin: -5px 0;
}

/* NAVBAR */
.navbar {
    border-radius: 0;
}

.navbar .dropdown-caret > a {
    padding-left: 0;
}

.navbar .dropdown-with-caret > a {
    padding-right: 0;
}

.open > .dropdown-menu {
    /*margin-top: 83px !important;*/
    /*border: 1px solid #E7E7E7;*/
    border-radius: 6px !important;
}

/* DEPRECATE */
.navbar-text {
    font-style: italic;
    font-size: 11px;
    color: #aaa !important;
    line-height: 100%;
    padding-top: 5px;
    margin: 15px 20px 0 5px;
}

.navbar-default {
    /*background-color: #ECF0F1;*/
    background-color: #F8F8F8;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 0;
}

.navbar .navbar-form {
    padding-right: 0;
    margin-right: 0;
}

.navbar .navbar-form select {
    display: none !important;
}

.navbar .navbar-collapse {
    padding-right: 0;
}

.navbar small {
    font-size: 50%;
}

/*.messages {*/
/*margin-top: 20px;*/
/*}*/
.nav-footer {
    display: table;
    margin: 0 auto;
}

.nav-footer > ul {
    display: inline-block;
    width: 120px;
    margin-left: 50px;
    vertical-align: top;
}

.nav-footer > ul > li {
    padding: 10px 0;
}

footer {
    /*background-color: #F8F8F8;*/
    border-top: 1px solid #E7E7E7;
    margin-top: 15px;
    padding: 30px 0 30px;
}

footer .separator {
    opacity: 0.3;
    margin: 0 10px;
}

footer .site-info {
    font-size: 90%;
    margin-top: 15px;
}

.panel-body > h1:first-child,
.panel-body > h2:first-child,
.panel-body > h3:first-child {
    margin-top: 0;
}

.user-panel p {
    margin-bottom: 3px;
}

.user-panel .btn {
    margin: 5px 5px 5px 0;
}

/* Style error messages as danger alerts */
/*.alert {*/
/*padding: 5px 10px;*/
/*}*/
/*.alert-dismissable .close {*/
/*right: 0;*/
/*}*/
/*.alert-error {*/
/*color: #b94a48;*/
/*background-color: #f2dede;*/
/*border-color: #eed3d7;*/
/*}*/
/*.alert-error hr {*/
/*border-top-color: #e6c1c7;*/
/*}*/
/*.alert-error .alert-link {*/
/*color: #953b39;*/
/*}*/
/*ul, ol {*/
/*padding-left:20px;*/
/*}*/

.timespan {
    color: #888;
}

#search-results h5 {
    margin-top: 20px;
}

#search-results p {
    margin: 3px 0;
}

/*========================================
          MULTI-LEVEL DROP-DOWN NAV
==========================================*/
/*.nav > li > a.dropdown-toggle:hover{*/
/*background-color: #e7e7e7;*/
/*color: #555;*/
/*}*/
/*.dropdown-submenu {*/
/*position: relative;*/
/*}*/
/*.dropdown-submenu > .dropdown-menu {*/
/*top: 0;*/
/*left: 100%;*/
/*margin-top: -6px;*/
/*margin-left: -1px;*/
/*border-top-left-radius: 0;*/
/*}*/
/*.dropdown-submenu:hover > .dropdown-menu {*/
/*display: block;*/
/*}*/
/*.dropdown-submenu > a:after {*/
/*display: inline-block;*/
/*content: " ";*/
/*float: right;*/
/*width: 0;*/
/*height: 0;*/
/*border-color: transparent;*/
/*border-style: solid;*/
/*border-width: 4px 0 4px 4px;*/
/*border-left-color: #777;*/
/*margin-top: 5px;*/
/*margin-right: -10px;*/
/*}*/
/*.dropdown-submenu > a:hover:after {*/
/*border-left-color: #333;*/
/*}*/
/*.dropdown-submenu.active > a:after {*/
/*border-left-color: #fff;*/
/*}*/
/*.dropdown-submenu.pull-left {*/
/*float: none;*/
/*}*/
/*.dropdown-submenu.pull-left > .dropdown-menu {*/
/*left: -100%;*/
/*margin-left: 10px;*/
/*border-top-right-radius: 0;*/
/*}*/

/*.dropdown-submenu{position:relative;}*/
/*.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}*/
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
/*.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}*/
/*.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}*/
/*.dropdown-submenu.pull-left{float:none;}*/
/*.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}*/

/*========================================
            MEZZANINE BLOG
==========================================*/

.blog-list-detail {
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.post-meta {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 14px;
}

.post-meta > a {
    color: #666;
}

.share-facebook, .share-twitter, .share-vk,
.share-facebook:hover, .share-twitter:hover, .share-vk:hover {
    color: #fff;
    font-weight: 700;
}

.share-facebook {
    background-color: #4667A6;
}

.share-twitter {
    background-color: #00A3D4;
}

.share-vk {
    background-color: #6d8fb3;
}

.tag-cloud li {
    padding-left: 0;
}

.tag-weight-1 {
    font-size: 90%;
}

.tag-weight-2 {
    font-size: 120%;
}

.tag-weight-3 {
    font-size: 150%;
}

.tag-weight-4 {
    font-size: 180%;
}

.recent-posts img {
    margin: 2px;
}

/*========================================
          MEZZANINE GALLERY
==========================================*/

/*.gallery .thumbnail {*/
/*margin: 15px 0;*/
/*}*/
/*.gallery .thumbnail > img {*/
/*width: 100%;*/
/*}*/

/*========================================
          MEZZANINE GENERIC
==========================================*/

#comments, .rating {
    margin: 20px 0;
}

.rating span, .rating form {
    display: inline-block;
}

.rating ul {
    padding-left: 0;
    list-style: none;
}

.rating li {
    display: inline-block;
    margin: 0 5px;
}

.comment .rating {
    margin-top: 5px;
}

.comment-author {
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 15px;
    margin-bottom: 30px;
    /*background-color: #FEFFEE;*/
}

/*========================================
          MEZZANINE TWEETS
==========================================*/

.tweets img.pull-left {
    margin-right: 10px;
    margin-bottom: 5px;
}

.tweeter-image {
    width: 32px;
    height: 32px;
}

.tweet {
    margin-bottom: 20px;
}

.tweet h4 {
    margin-bottom: 2px;
    font-size: 17px;
}

.tweet h4 small {
    display: block;
    line-height: 150%;
}

.tweet p {
    font-size: 13px;
    line-height: 160%;
}

.tweet h6 {
    margin: 5px 0 10px 0;
}

.tweet .glyphicon {
    margin: 0 3px;
}

/*========================================
          MEZZANINE ACCOUNTS
==========================================*/

.profile-image > img {
    margin-bottom: 20px;
}

/*========================================
          RESPONSIVE TWEAKS
==========================================*/

/* Display dropdowns on hover only in desktops (md and lg classes) */
/*@media (min-width: 768px) {*/
/*.navbar-nav > li.dropdown:hover > ul.dropdown-menu {*/
/*display: block;*/
/*}*/
/*}*/
/*@media (min-width: 992px) {*/
/*.tree {display:block;}*/
/*}*/
/*.navbar .container {width:100%;}*/
/*@media (max-width: 992px) {*/
/*.navbar .container {width:970px;}*/
/*}*/
/*@media (min-width: 1200px) {*/
/*.navbar .container {width:1170px;}*/
/*}*/

@media (min-width: 768px) {
    .container {
        /*width: 100%;*/
    }
}

@media (max-width: 992px) {
    .navbar .navbar-form {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .panel h3 {
        font-size: 33px;
    }
}

.middle > h1, h2, h3, h4, h5, h6:first-child {
    margin-top: 0;
}

.middle p {
    text-align: justify;
}

.right {
    padding-top: 15px;
}

/*========================================
            MEZZANINE FORMS
==========================================
  These rules mirror the rules for .form-control included with
  Bootstrap. They are needed because we can not directly apply
  CSS classes to the form fields when rendering them in the template.
  They also cover special cases for date and date/time inputs.
*/

.multiplechoicefield > ul, .choicefield > ul {
    margin: 0;
    padding: 0;
}

.multiplechoicefield > ul > li, .choicefield > ul > li {
    list-style: none;
    display: inline-block;
}

.multiplechoicefield > ul label, .choicefield > ul label {
    display: inline-block;
    padding-right: 20px;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
}

.datefield, .datetimefield {
    max-width: 450px;
}

.datefield > select {
    display: inline-block;
    width: 30%;
    margin-right: 2%;
}

.datefield > label, .datefield > .help-block,
.datetimefield > label, .datetimefield > .help-block {
    display: block;
}

.datetimefield > select {
    display: inline-block;
    margin-right: 2%;
    width: 22%;
}

.datetimefield > input[type="text"] {
    display: inline-block;
    width: 25%;
}

.form-actions {
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}

/* We apply the clearfix hack to .form-actions because we often
float the buttons inside it. This prevents collapsing. */
.form-actions:before,
.form-actions:after {
    display: table;
    content: " ";
}

.form-actions:after {
    clear: both;
}

.form-group > label {
    font-size: 18px;
}

.form-group .help-block {
    color: #BDC3C7;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
select,
textarea {
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 8px 5px;
    /*height: 21px;*/
    vertical-align: top;
    width: 100%;
    margin: 0;
    text-indent: 6px;
    -webkit-appearance: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear;
    -moz-transition: border .25s linear, color .25s linear;
    -o-transition: border .25s linear, color .25s linear;
    transition: border .25s linear, color .25s linear;
    -webkit-backface-visibility: hidden;
}

textarea {
    width: 100%;
}

@media (max-width: 767px) {
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        height: 41px;
        margin: 9px 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    textarea textarea,
    input[type="text"] textarea,
    input[type="password"] textarea,
    input[type="datetime"] textarea,
    input[type="datetime-local"] textarea,
    input[type="date"] textarea,
    input[type="month"] textarea,
    input[type="time"] textarea,
    input[type="week"] textarea,
    input[type="number"] textarea,
    input[type="email"] textarea,
    input[type="url"] textarea,
    input[type="search"] textarea,
    input[type="tel"] textarea,
    input[type="color"] textarea,
    .uneditable-input textarea {
        height: 120px;
    }
}

.form-group.focus textarea,
.form-group.focus input[type="text"],
.form-group.focus input[type="password"],
.form-group.focus input[type="datetime"],
.form-group.focus input[type="datetime-local"],
.form-group.focus input[type="date"],
.form-group.focus input[type="month"],
.form-group.focus input[type="time"],
.form-group.focus input[type="week"],
.form-group.focus input[type="number"],
.form-group.focus input[type="email"],
.form-group.focus input[type="url"],
.form-group.focus input[type="search"],
.form-group.focus input[type="tel"],
.form-group.focus input[type="color"],
.form-group.focus .uneditable-input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #1abc9c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-group.has-error textarea,
.form-group.has-error input[type="text"],
.form-group.has-error input[type="password"],
.form-group.has-error input[type="datetime"],
.form-group.has-error input[type="datetime-local"],
.form-group.has-error input[type="date"],
.form-group.has-error input[type="month"],
.form-group.has-error input[type="time"],
.form-group.has-error input[type="week"],
.form-group.has-error input[type="number"],
.form-group.has-error input[type="email"],
.form-group.has-error input[type="url"],
.form-group.has-error input[type="search"],
.form-group.has-error input[type="tel"],
.form-group.has-error input[type="color"],
.form-group.has-error .uneditable-input {
    border-color: #e74c3c;
    color: #e74c3c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-group.has-error textarea:focus,
.form-group.has-error input[type="text"]:focus,
.form-group.has-error input[type="password"]:focus,
.form-group.has-error input[type="datetime"]:focus,
.form-group.has-error input[type="datetime-local"]:focus,
.form-group.has-error input[type="date"]:focus,
.form-group.has-error input[type="month"]:focus,
.form-group.has-error input[type="time"]:focus,
.form-group.has-error input[type="week"]:focus,
.form-group.has-error input[type="number"]:focus,
.form-group.has-error input[type="email"]:focus,
.form-group.has-error input[type="url"]:focus,
.form-group.has-error input[type="search"]:focus,
.form-group.has-error input[type="tel"]:focus,
.form-group.has-error input[type="color"]:focus,
.form-group.has-error .uneditable-input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-group.success textarea,
.form-group.success input[type="text"],
.form-group.success input[type="password"],
.form-group.success input[type="datetime"],
.form-group.success input[type="datetime-local"],
.form-group.success input[type="date"],
.form-group.success input[type="month"],
.form-group.success input[type="time"],
.form-group.success input[type="week"],
.form-group.success input[type="number"],
.form-group.success input[type="email"],
.form-group.success input[type="url"],
.form-group.success input[type="search"],
.form-group.success input[type="tel"],
.form-group.success input[type="color"],
.form-group.success .uneditable-input {
    border-color: #2ecc71;
    color: #2ecc71;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-group.success textarea:focus,
.form-group.success input[type="text"]:focus,
.form-group.success input[type="password"]:focus,
.form-group.success input[type="datetime"]:focus,
.form-group.success input[type="datetime-local"]:focus,
.form-group.success input[type="date"]:focus,
.form-group.success input[type="month"]:focus,
.form-group.success input[type="time"]:focus,
.form-group.success input[type="week"]:focus,
.form-group.success input[type="number"]:focus,
.form-group.success input[type="email"]:focus,
.form-group.success input[type="url"]:focus,
.form-group.success input[type="search"]:focus,
.form-group.success input[type="tel"]:focus,
.form-group.success input[type="color"]:focus,
.form-group.success .uneditable-input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/**
 * Breadcrumb stylesheet
 * */

.breadcrumb > li + li:before {
    padding: 0 5px 0 10px;
}

.header-breadcrumb {
    background-color: #F8F8F8;
    margin-bottom: 25px;
}

.breadcrumb {
    margin-bottom: 0;
    margin-top: 0;
    background-color: #F8F8F8;
    font-size: 14px;
    font-weight: 700;
    padding: 13px 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.breadcrumb > li {
    position: relative;
    text-shadow: none;
}

.breadcrumb .active {
    color: #bdc3c7;
    cursor: default;
}

.breadcrumb .active:after {
    display: none;
}

.breadcrumb .active > a {
    color: inherit;
    cursor: inherit;
}

/**
 * Breadcrumb stylesheet END
 * */

/**
 * Header stylesheet
 * */

.background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 20;
    filter: alpha(opacity=2000);
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.header-sub {
    padding-top: 110px;
    padding-bottom: 110px;
    color: #050505;
    position: relative;
}

.header-sub h3 {
    font-size: 34px;
    min-width: 500px;
    font-weight: normal;
    color: #0A6AAD;
    margin-bottom: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

@media (min-width: 768px) {
    .header-sub h3 {
        font-size: 24px;
        min-width: 300px;
    }

}
@media (min-width: 992px) {
    .header-sub h3 {
        font-size: 30px;
        min-width: 340px;
    }
}

@media (min-width: 1200px) {
    .header-sub h3 {
        font-size: 34px;
        min-width: 400px;
    }
}

.header-sub p {
    font-size: 16px;
    font-weight: normal;
    color: #050505;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-sub .logo {
    padding-top: 7px;
}

.header-sub .additional-links {
    opacity: 80;
    filter: alpha(opacity=8000);
    opacity: 0.8;
    filter: alpha(opacity=80);
    font-size: 12px;
    font-weight: normal;
    color: #1b1f23;
}

.header-sub .additional-links a {
    text-decoration: underline;
    color: #1b1f23;
}

.header-sub .additional-links a:hover,
.header-sub .additional-links a:focus,
.header-sub .additional-links a.active {
    color: #16191c;
}

.header-sub .background {
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
}

@media (max-width: 768px) {
    .header-sub {
        padding-top: 20px;
        padding-bottom: 0;
    }

}

@media (max-width: 992px) {
    .header-sub {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

/**
 * Header stylesheet END
 * */

/* Hotfix for live edit media-library */
.media-library {
    z-index: 10000 !important;
}